.grid-container {
    display: grid;
    
    width:1440px;
    gap: 1px;
   
    
    
    background-color: #FFCD9E;
    grid-template-columns: repeat(10, 1fr);
   
  }
  .grid-container>div {
   
    
   
    
}
  .item1{
    grid-column:span 1/span 6;
    width: 883px;
   
  
    
    grid-row:1;
  }
  .item2{
    
    padding-top: 20px;
    grid-column:span 6/span 10 ;
    height: 557px;
    width: 557px;
  }
  .header{
    width: 562px;
    height: 108px;
    text-align: left;
    padding-left:136px;
    padding-top: 40px;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
  }
  .description{
    width: 495px;
    height: 81px;
    text-align: left;
    font-size: 22px;
    padding-left:136px;
  }
  .des1{
    width: 227px;
    height: 81px;
    font-size: 24px;
    padding-left:136px;
    text-align: left;
    padding-top: 20px;
    font-weight: bold;
  }
  .item3{
    grid-column:1/span 2;
    grid-row:2;

  }
  .item4{
    grid-column: 2;

  }
  .item7{
    grid-column: 1/ span 10;
    height: 298px;
    width: 1440px;
    background-color: black;
    color: white;
  }
  .des2{
    display: flex;
    width: 600px;

    
  }
  .input{
    width: 344px;
    height: 64px;
    border-color: black;
    border-radius: 8px;
    text-align: left;
    padding-left: 40px;
    font-size: 20px;
    margin-left: 136px;
    border-width: 3px;
  }
  .button{
    width: 216px;
    height: 64px;
    margin-left: 20px;
    border-radius: 8px;
    color: white;
    background-color: black;
    font-size: 18px;
  }
  .des3{
    width: 344px;
    height: 61px;
    margin-left: 134px;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
  }
  .footer{
    display: flex;

   
  }
  .left{
    display: flex;
    flex-direction: column;
    margin-left: 191px;
    margin-top: 40px;
    gap: 20px;
    
  }
  .right{
    display: flex;
    flex-direction: column;
    margin-left: 691px;
    margin-top: 40px;
    gap: 20px;
    text-align: right;
  }
 